defaults:
  - _self_
  - action: default_action
  - pipeline: default_pipeline
  - slurm: default_slurm
  - aim: default_aim
  - machine: local

# Entity identifier - use action_name for actions, pipeline_name for pipelines
# Support shorthand: pipeline=name and action=name (mapped to pipeline_name/action_name via code)
# Note: When pipeline=name or action=name is used, it's treated as entity name, not config group
action_name: ???
pipeline_name: ???
debug: ???
descr: null  # General description field - will be logged and used for AIM if enabled

# Run directory - will be set based on action_name or pipeline_name
# Use oc.select to choose pipeline_name if available and not empty, otherwise action_name
# Note: We delete the unused field (set to null) so oc.select picks the correct one
run_dir: ".runs/${oc.select:pipeline_name,action_name}/${now:%Y-%m-%d}_${now:%H-%M-%S}"

hydra:
  sweep:
    dir: "${run_dir}_multirun"
